*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 100px;
}
body {
    background-color: #a6e9d7;
    position: relative;
}
h1{
    text-align: center;
    font-family: 'Bebas Neue', cursiv;
    font-size: 4em;
    padding: 20px;
    letter-spacing: 0.2em;
    font-weight: bold;
}
h2 {
    text-align: center;
    font-family: 'Bebas Neue', cursiv;
    font-size: 2em;
    padding: 5px;
    letter-spacing: 0.1em;
    font-weight: bold;
}
div{
    height: 20vh;
    position: relative;
}
input {
    width: 70%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: black;
    position: absolute;
    right: 15%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    background-color: rgb(230, 230, 230);
    outline: none;
}
h3{
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 15%;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    display:inline-block;
    background-color: rgb(230, 230, 230);
    text-align: center;
}
footer {
    font-family: 'Roboto', sans-serif;
}